body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: #9e9ea4;
}

.header {
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh;
}

.menu-icon {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

.sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: orange;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
}

    .sidebar-list-item:hover {
        background-color: white;
        cursor: pointer;
        border-radius: 40px 60px 40px 60px / 60px 40px 60px 40px;
    }

.main-title {
    display: flex;
    justify-content: center;
    border-bottom: 0.1rem solid black;
}

.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: black;
}

.mainparts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
}

    .part:first-child {
        background-color: orange;
    }

    .part:nth-child(2) {
        background-color: orange;
    }

    .part:nth-child(3) {
        background-color: orange;
    }

    .part:nth-child(4) {
        background-color: orange;
    }

    .part:nth-child(5) {
        background-color: orange;
    }

.part-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* 
    Application 

                */


.application-container h3 {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    color: #333;
}

.job-application-form {
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 1rem;
}


.job-application-form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    width: 587px;
}

.job-application-form input[type="text"], .job-application-form input[type="email"], .job-application-form input[type="tel"], .job-application-form input[type="file"] {
    width: 101%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.job-application-form input[type="submit"] {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: #CCCCCC;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 0px;
    z-index: 1;
    left: 417px;
    top: 1369px;
    position: absolute;
    height: 53px;
    width: 152px;
}

.job-application-form input[type="submit"]:hover {
    background-color: #45a049;
}


.applicationForm {

}

.BigApplyButton {
    border-radius: 5px;
    background-color: aquamarine;
}
.BigApplyButton {
}

.findButton {
    background-color: darkgrey;
    border-radius: 4px;
}

.findButton:hover {
    background-color: grey;
}

.submitAppButton {
    border-radius: 6px;
    border: 1px black solid;
    background-color: forestgreen;
    color: white;
}

.cancelAppbutton {
    border-radius: 6px;
    border: 1px black solid;
}

.listApplication {
    border-radius: 10px;
    background-color: darkgray;
}

.listBackButton {
    border-radius: 6px;
    background-color: dimgrey;
    margin-right: 18px;
}

.listAddButton {
    border-radius: 6px;
    background-color:forestgreen;
    color: white;
    margin-right: 18px;
}

.delete_confirm_container {
    background-color:beige;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.5rem;
}

.delete_page_container {
    width: 100%;
    height: 100vh;
}

.listDeleteButton {
    border-radius: 6px;
    background-color: indianred;
    color: white;
    margin-right: 18px;
}